/* clearfix */
.toc:after {
  content: "";
  display: block;
  clear: both;
}

.row {
  display: block;
  margin: 2em;
}

.category {
  width: 15%;
  display: inline-block;
  right: 35%;
  text-align: right;
  vertical-align: top;
  margin-right: 3%;
  margin-top: auto; /* for Chrome, extra .83em on top otherwise */
}

.col2 {
  width: 75%;
  display: inline-block;
  right: 5px;
}

ul {
  margin: auto;
}

h1 {
  text-align: center;
}

.contact {
  text-align: center;
}

.item:not(:first-of-type) {
  margin-top: 1em;
}